<div class="card filters">
    <div class="card-header">
        <strong class="d-block text-center">FILTERS</strong>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="from">From :</label>
                <input type="number"id = "from" class="form-control m-1">
            </div>

            <div class="form-group">
                <label for="to">To :</label>
                <input type="number" id = "to" class="form-control m-1">
            </div>
            <button class="btn btn-primary btn-small d-block mx-auto mt-3">Filter by Price</button>
        </form>
    </div>
</div>